/*============= Media Queries===============*/
/* Extra large devices: 1200 > */

@media (min-width: 1200px) {
  .container {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  .section {
    margin-top: 10rem 0;
  }
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1.125rem 'DM sans', sans-serif;
    color: var(--text-color);
  }

  nav .icon-menu {
    display: none;
  }

  .info-cont {
    top: 5rem;
    display: inline-block;
  }

  #home header {
    display: flex;
    align-items: center;
    height: 24rem;
  }

  .info-cont h1 {
    width: 29rem;
    font-size: 1.87rem;
  }
  #home .social-midia {
    display: none;
  }

  #home .code {
    display: block;

    font-size: 6rem;
  }
  #about .container {
    display: flex;
  }
  .aboutme img {
    display: block;
    width: 30rem;
  }

  .cards {
    display: flex;
justify-content: center;
    
  }
  .cards .card {
    width: 22rem;
    height: 30rem;
    border-radius: 1.5rem;
    gap: 2rem;
  }

  #service h2, #projects h2 {
    font: 700 2rem 'DM sans', sans-serif;
    text-align: center;
  }
  #service {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(47, 7, 59, 0.83) 1.37%, #2f073b 81.19%);
  }

  /*=========================Projects=========================*/

  #projects .card i {
    color: white;
    font-size: 1rem;
  }

  #projects a {
    display: block;
  }

  #projects .projct1 {
    background: #3c5fda;
    margin-top: 3rem;
    display: inline-flex;
    text-align: center;
    gap: 1rem;
    cursor: pointer;
  }

  /*======================Skills======================*/

  #skills {
    display: flex;
    justify-content:  space-between;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(47, 7, 59, 0.83) 1.37%, #2f073b 81.19%);
    display: flex;
  }

  #skills .langua {
    font-size: 7rem;
  }

  #skills img {
    width: 24rem;
    height: 24rem;
    margin-right: 7rem;
  }
  #skills .skills2 {
    margin-top: 2rem;
  }

  main {
    margin-top: var(--header-height);
  }


}
/*large devices: 1023 > */

@media (min-width: 1023px) {
}

/*large devices: 992 > */

@media (min-width: 992px) {

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1.125rem 'DM sans', sans-serif;
    color: var(--text-color);
  }

  nav .icon-menu {
    display: none;
  }

 .aboutme{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .aboutme img{
    display: block;
  }
  
}

/*medium devices: 767 > */
