@media (min-width: 1281px) {
  /* CSS */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  /*Variables===========*/

  :root {
    --header-height: 4.5rem;
    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: rgb(255, 255, 255);
    --text-color-light: hsl(0 0% 98%);
    --body-color: rgb(28, 12, 73);
    --title-font-size: 1.875rem;
  }
  /*===================Base=================*/

  body {
    color: var(--text-color);
    background: var(--body-color);
    font: 400 1rem 'DM Sans', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
  /*=================Header======================*/
  .imghome {
    display: block;
    justify-content: center;
  }
  .scontainer {
    justify-content: center;
    align-items: center;
  }
  .scontainer p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .scontainer p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .scontainer p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .scontainer p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0% {
      background-color: #ccc;
    }
    49% {
      background-color: #ccc;
    }
    50% {
      background-color: transparent;
    }
    99% {
      background-color: transparent;
    }
    100% {
      background-color: #ccc;
    }
  }

  #header {
    border-bottom: 1px solid #2f073b;
    margin-bottom: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background: #2f073b;
  }
  .title {
    color: var(--text-color);
    font: 400 1.2rem 'DM Sans', sans-serif;
  }
  main {
    margin-top: 4rem;
  }

  #header.scroll {
    box-shadow: 0px 0px 10px rgb(7, 3, 8);
  }
  /*================Base==================*/

  .container {
    margin-left: 13rem;
    margin-right: 13rem;
  }

  .logo {
    color: var(--text-color);
    font: 700 1.2rem 'Poppins', sans-serif;
  }

  .logo span {
    color: rgb(88, 54, 180);
  }

  .section {
    padding: 5rem 0;
  }

  .section header {
    margin-bottom: 2rem;
  }

  .grid {
    display: grid;
    gap: 2rem;
  }

  .grid1 {
    display: flex;
    gap: 2rem;
  }

  #home .info-cont {
    display: block;
  }
  /*=================Navegation===============*/

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    transition: color 0.2s;
    position: relative;
  }

  nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: white;
    left: 0;
    position: absolute;
    bottom: -1.5rem;
    transition: width 0.2s;
  }

  nav ul li a:hover::after {
    width: 100%;
  }

  nav {
    height: 4.5rem;
    align-items: center;

    justify-content: space-between;
  }

  nav .menu {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  ul {
    display: flex;
  }

  /*Toogle*/

  nav .icon-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

  /*=========================home=========================*/

  #home .abouthome {
    display: none;
  }

  #home {
    display: flex;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(47, 7, 59, 0.83) 1.37%,
      #2f073b 81.19%
    );
  }

  #home .number {
    display: flex;
    top: 17rem;
    left: 10rem;
    position: absolute;
    font: 700 2rem 'DM sans', sans-serif;
    background: linear-gradient(
      180deg,
      rgba(112, 109, 109, 0.58) 2%,
      rgba(30, 39, 52, 0) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .code {
    display: none;
  }

  .info-cont1 {
    opacity: 0;
    visibility: hidden;
  }
  .title2 {
    display: none;
  }
  #home h2 {
    font: 700 6rem 'DM sans', sans-serif;
  }
  .imghome img {
    opacity: 0.4;
    margin-top: -18rem;
    margin-left: -12rem;
    margin-right: -10rem;
    display: flex;
    width: 120rem;
    height: 60rem;
  }
  .social-midia {
    display: none;
  }

  .divider-1 {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 6%, 60%, 0.5),
      hsla(var(--hue), 6%, 09%, 0.4)
    );
  }

  /*=========================About=========================*/

  #about #btnAbt {
    display: flex;
    width: 13rem;
    border: none;
    margin-top: 2rem;
    height: 3rem;
    background: #3c5fda;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #about #btnAbt p {
    color: var(--text-color);
  }

  .aboutme {
    justify-content: space-around;
    align-items: center;
    display: flex;
  }

  .aboutw h1 {
    font: 700 2rem 'DM Sans', sans-serif;
  }
  .aboutw p {
    width: 32rem;
    line-height: 1.4rem;
    font: 400 1.25rem 'DM Sans', sans-serif;
  }
  .aboutme img {
    width: 40rem;
    height: 40rem;
    display: block;
  }

  .imge {
    text-align: center;
  }
  .imge a p {
    color: #3c5fda;
  }
  /*=========================Services=========================*/
  .cards {
    display: flex;
    justify-content: space-evenly;
  }

  #service {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(47, 7, 59, 0.83) 1.37%, #2f073b 81.19%);
  }
  #service h2 {
    text-align: center;
    font: 700 2rem 'DM Sans', sans-serif;
  }

  .card {
    width: 25rem;
    background: #4e2d58;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
  }

  .cards.grid {
    gap: 1rem;
  }

  .card {
    background: #4e2d58;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
  }

  .card {
    padding: 5rem 2rem;
  }

  .card i {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
  }

  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  /*=========================Projects=========================*/

  #projects .card i {
    color: white;
    font-size: 2rem;
  }

  #projects h2 {
    text-align: center;
    font: 700 2rem 'DM Sans', sans-serif;
  }

  #projects a {
    display: block;
  }

  #projects button {
    display: flex;
    justify-content: center;
  }
  #projects .beh {
    display: flex;
    justify-content: center;
  }

  /*=====================Contact==========================*/
  .contactme {
    display: none;
  }
  .form_bck img {
    display: block;
    margin-left: 26rem;
  }
  .form_bck {
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    height: 40rem;
    padding: 3rem;
    background: #2f073b;
    width: 35rem;
  }
  .form_bck h2 {
    margin-bottom: 3rem;
    text-align: center;
  }
  .form input {
    color: white;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid wheat;
    border-radius: 0.6rem;
    height: 3rem;
    background: none;
  }

  .form textarea {
    color: white;
    resize: none;
    border: none;
    border-bottom: 2px solid wheat;
    background: none;
    padding: 1rem;
    border: none;
  }
  .buttonsubmit {
    display: flex;
    justify-content: flex-end;
  }
  .form button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background-color: #3c5fda;
    border-radius: 0.3rem;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
  }

  .form button:hover {
    background: #1f255c;
    color: white;
  }
  .form {
    width: 30rem;
    display: flex;
    flex-direction: column;
  }

  #footer {
    background: hsla(286, 72%, 14%, 1);
  }

  #skills {
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(47, 7, 59, 0.83) 1.37%, #2f073b 81.19%);
  }

  #skills .langua i {
    font-size: 6rem;
  }

  #skills .skills2 {
    margin-top: 2rem;
  }

  .img img {
    display: grid;
  }

  /*======================Footer======================*/
  .social-midia2 a {
    transition: 0.3s;
    display: inline-block;
  }
  .social-midia2 a:hover {
    transform: translateY(-10px);
  }

  .social-midia2 {
    font: 700 1.75rem 'Poppins', sans-serif;
  }

  footer .social-midia2 {
    grid-auto-flow: column;
    width: fit-content;
  }
  .social-midia2 i {
    margin-left: 1rem;
    color: white;
  }

  .back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--text-color);
    line-height: 0;
    clip-path: circle();
    background: #3c5fda;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }

  .back-to-top.show {
    visibility: visible;
    opacity: 1;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
  }

  .copyr {
    margin-top: 4rem;
    text-align: center;
  }
  /* CSS */
}

@media (min-width: 1025px) and (max-width: 1280px) {
 body{
  background: red;
 }
 
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  /*Variables===========*/

  :root {
    --header-height: 4.5rem;
    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: rgb(255, 255, 255);
    --text-color-light: hsl(0 0% 98%);
    --body-color: rgb(28, 12, 73);
    --title-font-size: 1.875rem;
  }
  /*===================Base=================*/

  body {
    color: var(--text-color);
   
    font: 400 1rem 'DM Sans', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
  /*=================Header======================*/

  #header {
    border-bottom: 1px solid #2f073b;
    margin-bottom: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background: #2f073b;
  }

  main {
    margin-top: 4rem;
  }

  #header.scroll {
    box-shadow: 0px 0px 10px rgb(7, 3, 8);
  }
  /*================Base==================*/

  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .logo {
    color: var(--text-color);
    font: 700 1.2rem 'Poppins', sans-serif;
  }

  .logo span {
    color: rgb(88, 54, 180);
  }

  .section {
    padding: 5rem 0;
  }

  .section header {
    margin-bottom: 2rem;
  }

  .grid {
    display: grid;
    gap: 2rem;
  }
  .grid1 {
    display: flex;
    gap: 2rem;
  }
  /*=================Navegation===============*/

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    transition: color 0.2s;
    position: relative;
  }
  .title {
    color: var(--text-color);
    font: 400 1rem 'DM Sans', sans-serif;
  }

  nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: white;
    left: 0;
    position: absolute;
    bottom: -1.5rem;
    transition: width 0.2s;
  }

  nav ul li a:hover::after {
    width: 100%;
  }

  nav {
    height: 4.5rem;
    align-items: center;

    justify-content: space-between;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
  }

  /*Toogle*/

  nav .icon-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

  /*=========================home=========================*/

  #home .abouthome {
    display: none;
  }

  #home {
    display: flex;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(47, 7, 59, 0.83) 1.37%,
      #2f073b 81.19%
    );
  }
  .aboutme img {
    width: 30rem;
    height: 30rem;
    display: block;
  }

  .imge {
    text-align: center;
  }
  .imge a p {
    color: #3c5fda;
  }

  .info-cont {
    display: none;
  }
  .scontainer p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }

  .code {
    font: 700 10rem 'DM sans', sans-serif;
    background: linear-gradient(
      244.45deg,
      #1f255c 13.31%,
      #e5e7fc 52.82%,
      rgba(126, 135, 220, 0) 85.2%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .social-midia a {
    transition: 0.3s;
    display: inline-block;
  }
  .social-midia a:hover {
    transform: translateY(-10px);
  }

  .social-midia {
    display: flex;
    justify-content: space-evenly;
  }

  .social-midia i {
    color: white;
    font: 700 1.75rem 'Poppins', sans-serif;
  }

  .divider-1 {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 6%, 60%, 0.5),
      hsla(var(--hue), 6%, 09%, 0.4)
    );
  }

  /*=========================About=========================*/

  #about #btnAbt {
    display: flex;
    width: 13rem;
    border: none;
    margin-top: 2rem;
    height: 3rem;
    background: #3c5fda;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #about #btnAbt p {
    color: var(--text-color);
  }

  .aboutme {
    align-items: center;
    display: flex;
  }

  .aboutw h1 {
    font: 700;
  }

  .aboutme img {
    display: block;
  }
  /*=========================Services=========================*/

  .cards.grid {
    gap: 1rem;
  }
  .cards {
    display: flex;
    justify-content: space-evenly;
  }

  #service {
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(47, 7, 59, 0.83) 1.37%, #2f073b 81.19%);
  }

  .card {
    width: 18rem;
    background: #4e2d58;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
  }

  .card i {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  .card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
  }
  /*=========================Projects=========================*/

  #projects h2{
    text-align: center;
  }
  #projects .card i {
    color: white;
    font-size: 2rem;
  }

  #projects a {
    display: block;
  }

  #projects button {
    display: flex;
    justify-content: center;
  }
  #projects .beh {
    display: flex;
    justify-content: center;
  }

  .buttonproject1 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #project1 {
    background: white;
    border: none;
    color: #1f255c;
    border-radius: 1rem;
    width: 12rem;
    height: 4rem;
    font: 400 1rem 'DM-sans';
    display: flex;

    align-items: center;
    cursor: pointer;
  }

  #project1:hover {
    background: #1f255c;
    color: white;
  }
  #project1 i {
    border: none;
    background: #1f255c;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }

  .buttonproject2 {
    margin-top: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #project2 {
    background: white;
    border: none;
    color: #1f255c;
    border-radius: 1rem;
    height: 4rem;
    width: 12rem;
    font: 400 1rem 'DM-sans';
    display: flex;

    align-items: center;
    cursor: pointer;
  }

  #project2:hover {
    background: #1f255c;
    color: white;
  }
  #project2 i {
    border: none;
    background: #1f255c;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }

  .buttonproject3 {
    margin-top: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #project3 {
    border: none;
    color: #1f255c;
    border-radius: 1rem;
    width: 12rem;
    height: 4rem;
    font: 400 1rem 'DM-sans';
    display: flex;

    align-items: center;
  }

  #project3 i {
    border: none;
    background: #1f255c;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }

  /*=====================Contact==========================*/

  #contact i {
    font-size: 1.3rem;
  }

  #contact #btnCont {
    width: 13rem;
    justify-content: center;
    border: none;
    cursor: pointer;
    height: 3rem;
    display: flex;
    align-items: center;
    background: #3c5fda;
    border-radius: 4px;
    color: var(--title-color);
  }

  #contact #btnCont i {
    color: var(--text-color);
  }

  #contact #btnCont p {
    color: white;
  }

  #contact p {
    display: flex;
    align-items: center;
  }

  #contact i {
    margin-right: 1rem;
    color: #3c5fda;
  }

  #footer {
    background: hsla(286, 72%, 14%, 1);
  }

  #skills {
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(47, 7, 59, 0.83) 1.37%, #2f073b 81.19%);
  }
  

  #skills .langua {
    display: grid;
    justify-content: center;
  }

  #skills .langua i {
    font-size: 5rem;
  }


  #skills .skills2 {
    margin-top: 2rem;
  }

  .skillsgrup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .img img {
    display: grid;
  }


  /*======================Footer======================*/
  .social-midia2 a {
    transition: 0.3s;
    display: inline-block;
  }
  .social-midia2 a:hover {
    transform: translateY(-10px);
  }

  .social-midia2 {
    font: 700 1.75rem 'Poppins', sans-serif;
  }

  footer .social-midia2 {
    grid-auto-flow: column;
    width: fit-content;
  }
  .social-midia2 i {
    margin-left: 1rem;
    color: white;
  }

  .back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--text-color);
    line-height: 0;
    clip-path: circle();
    background: #3c5fda;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }

  .back-to-top.show {
    visibility: visible;
    opacity: 1;
  }
  .footer-info {
    display: flex;
    justify-content: space-between;
  }

  .copyr {
    margin-top: 4rem;
    text-align: center;
  }
  /* CSS */
}

@media (min-width: 768px) and (max-width: 1024px) {

  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  /*Variables===========*/

  :root {
    --header-height: 4.5rem;
    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: rgb(255, 255, 255);
    --text-color-light: hsl(0 0% 98%);
    --body-color: rgb(28, 12, 73);
    --title-font-size: 1.875rem;
  }
  /*===================Base=================*/

  body {
    color: var(--text-color);
    background: var(--body-color);
    font: 400 1rem 'DM Sans', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
  /*=================Header======================*/

  #header {
    border-bottom: 1px solid #2f073b;
    margin-bottom: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background: #2f073b;
  }

  main {
    margin-top: 4rem;
  }

  #header.scroll {
    box-shadow: 0px 0px 10px rgb(7, 3, 8);
  }
  /*================Base==================*/

  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .logo {
    color: var(--text-color);
    font: 700 1rem 'Poppins', sans-serif;
  }

  .logo span {
    color: rgb(88, 54, 180);
  }

  .section {
    padding: 5rem 0;
  }

  .section header {
    margin-bottom: 2rem;
  }

  .grid {
    display: grid;
    gap: 2rem;
  }
  /*=================Navegation===============*/

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    transition: color 0.2s;
    position: relative;
  }

  nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: white;
    left: 0;
    position: absolute;
    bottom: -1.5rem;
    transition: width 0.2s;
  }

  nav ul li a:hover::after {
    width: 100%;
  }

  nav.show ul.grid {
    gap: 2rem;
  }

  nav.show .menu {
    display: grid;
    place-content: center;
  }

  nav {
    height: 4.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  nav .menu {
    opacity: 0;
    visibility: hidden;
  }

  nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--body-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
  }

  nav.show .menu .title {
    font: 700 var(--title-font-size) 'Poppins', sans-serif;
    color: var(--text-color);
  }
  /*Toogle*/

  nav .toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }

  nav .icon-close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

  nav.show .icon-close {
    margin-right: 2rem;
    visibility: visible;
    opacity: 1;
    right: 1.5rem;
    transition: 0.2s;
  }
  /*=========================home=========================*/

  #home .abouthome {
    display: none;
  }

  #home {
    display: flex;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(47, 7, 59, 0.83) 1.37%,
      #2f073b 81.19%
    );
  }

  .info-cont {
    display: none;
  }

  .code {
    font: 700 6rem 'DM sans', sans-serif;
    background: linear-gradient(
      244.45deg,
      #1f255c 13.31%,
      #e5e7fc 52.82%,
      rgba(126, 135, 220, 0) 85.2%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .title2 {
    display: none;
  }

  .imghome img {
    display: none;
  }
  .social-midia a {
    transition: 0.3s;
    display: inline-block;
  }
  .social-midia a:hover {
    transform: translateY(-10px);
  }

  .social-midia {
    display: flex;
    justify-content: space-evenly;
  }

  .social-midia i {
    color: white;
    font: 700 1.75rem 'Poppins', sans-serif;
  }

  .divider-1 {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 6%, 60%, 0.5),
      hsla(var(--hue), 6%, 09%, 0.4)
    );
  }

  /*=========================About=========================*/

  .imge a{
    display: none;
  }

  .aboutw h1,
  p {
    text-align: center;
  }

  .aboutw {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .aboutw .name {
    justify-content: center;
    width: 30rem;
  }


  .aboutme img {
    display: none;
  }
  /*=========================Services=========================*/

  .cards.grid {
    gap: 1rem;
  }
  .cards {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }

  #service {
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(47, 7, 59, 0.83) 1.37%, #2f073b 81.19%);
  }

  .card {
    padding: 5rem 10rem;
    width: 38rem;
    background: #4e2d58;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    text-align: center;
  }

  .card i {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  .card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
  }
  /*=========================Projects=========================*/

  #projects {
    text-align: center;
  }
  #projects .card i {
    color: white;
    font-size: 1.5rem;
  }

  #projects h3 {
    font-size: 1.2rem;
  }
  #projects a {
    display: block;
  }

  #projects button {
    display: flex;
    justify-content: center;
  }
  #projects .beh {
    display: flex;
    justify-content: center;
  }
  .buttonproject1 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #project1 {
    background: white;
    border: none;
    color: #1f255c;
    border-radius: 1rem;
    width: 11rem;
    height: 3rem;
    font: 400 1rem 'DM-sans';
    display: flex;

    align-items: center;
    cursor: pointer;
  }

  #project1:hover {
    background: #1f255c;
    color: white;
  }
  #project1 i {
    border: none;
    background: #1f255c;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }

  .buttonproject2 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #project2 {
    background: white;
    border: none;
    color: #1f255c;
    border-radius: 1rem;
    width: 11rem;
    height: 3rem;
    font: 400 1rem 'DM-sans';
    display: flex;

    align-items: center;
    cursor: pointer;
  }

  #project2:hover {
    background: #1f255c;
    color: white;
  }
  #project2 i {
    border: none;
    background: #1f255c;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }

  .buttonproject3 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #project3 {
    border: none;
    color: #1f255c;
    border-radius: 1rem;
    width: 11rem;
    height: 3rem;
    font: 400 1rem 'DM-sans';
    display: flex;

    align-items: center;
    cursor: pointer;
  }

  #project3 i {
    border: none;
    background: #1f255c;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }

  /*=====================Contact==========================*/

  #contact i {
    font-size: 1.3rem;
  }

  #contact #btnCont {
    width: 13rem;
    justify-content: center;
    border: none;
    cursor: pointer;
    height: 3rem;
    display: flex;
    align-items: center;
    background: #3c5fda;
    border-radius: 4px;
    color: var(--title-color);
  }

  form {
    display: none;
  }
  #contact #btnCont i {
    color: var(--text-color);
  }

  #contact #btnCont p {
    color: white;
  }

  #contact p {
    display: flex;
    align-items: center;
  }

  #contact i {
    margin-right: 1rem;
    color: #3c5fda;
  }

  #footer {
    background: hsla(286, 72%, 14%, 1);
  }

  #skills {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(47, 7, 59, 0.83) 1.37%, #2f073b 81.19%);
  }
  #skills h2 {
    text-align: center;
  }
  #skills .langua {
    display: grid;
    justify-content: center;
  }

  #skills .langua i {
    font-size: 5rem;
  }

  #skills .skills2 {
    margin-top: 2rem;
  }

  #skills .img {
    display: none;
  }

  /*======================Footer======================*/
  .social-midia2 a {
    transition: 0.3s;
    display: inline-block;
  }
  .social-midia2 a:hover {
    transform: translateY(-10px);
  }

  .social-midia2 {
    font: 700 1.75rem 'Poppins', sans-serif;
  }

  footer .social-midia2 {
    grid-auto-flow: column;
    width: fit-content;
  }
  .social-midia2 i {
    margin-left: 1rem;
    color: white;
  }

  .back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--text-color);
    line-height: 0;
    clip-path: circle();
    background: #3c5fda;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }

  .back-to-top.show {
    visibility: visible;
    opacity: 1;
  }
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .info-cont1,
  .buttons {
    opacity: 0;
    visibility: hidden;
  }
  .imghome {
    display: flex;
    justify-content: center;
  }

  .form_bck img,
  .atribui {
    display: none;
  }

  .form_bck {
    text-align: center;
    display: grid;
    justify-content: center;
  }

  .contactme {
    display: none;
  }
  .footer-info {
    display: flex;
    justify-content: space-between;
  }

  .form_bck h2 {
    margin-bottom: 3rem;
    text-align: center;
  }
  .form input {
    color: white;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid wheat;
    border-radius: 0.6rem;
    height: 3rem;
    background: none;
  }

  .form textarea {
    color: white;
    resize: none;
    border: none;
    border-bottom: 2px solid wheat;
    background: none;
    padding: 1rem;
    border: none;
  }
  .buttonsubmit {
    display: flex;
    justify-content: center;
  }
  .form button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background-color: #3c5fda;
    border-radius: 0.3rem;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
  }

  .form button:hover {
    background: #1f255c;
    color: white;
  }
  .form {
    width: 30rem;
    display: flex;
    flex-direction: column;
  }

  .copyr {
    margin-top: 4rem;
    text-align: center;
  }
}
